<!doctype html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{metaTitle}</title>
    <meta name="title" content="{metaTitle}">
    <meta name="description" content="{metaDescription}">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{metaTitle}">
    <meta property="og:description" content="{metaDescription}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{metaTitle}">
    <meta name="twitter:description" content="{metaDescription}">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/favicon.ico">
</head>

<body>
<div class="wrap">
    <div class="card">
        {#if home}
            <h1>{home.title}</h1>
            {#if home.subtitle}
                <p class="subtitle">{home.subtitle}</p>
            {/if}
            <div class="body">{home.body}</div>

            <div class="actions">
                <!-- download CV -->
                <a class="btn-download" href="/api/cv/download">
                    Scarica il mio CV
                </a>

                <!-- contact me -->
                <button type="button" class="btn-contact" id="contact-me-open-btn">
                    Contattami
                </button>
            </div>

            {#if updatedAt}
                <div class="footer">
                    <span>Ultimo aggiornamento:</span>
                    <time datetime="{home.updatedAt}">{updatedAt}</time>
                </div>
            {/if}
        {#else}
            <h1>Pagina non trovata</h1>
            <p class="subtitle">Nessun contenuto per "home".</p>
        {/if}
    </div>
    <hr/>
    <div class="card">
        <div id="serviziAggiuntivi">
            <h2>Piccoli servizi da sbirciare (fatti per amici)</h2>
            <a class="btn-service"
               href="/food-cost-calculator">
                Calcolatore FoodCost
            </a>
        </div>
    </div>
</div>

    {#include contact-me /}

<script src="/js/contact-me.js"></script>
</body>
</html>