<!-- Non viente mostrato dal browser ma usato da JS per clonarlo -->
<template id="ingredientRowTemplate">
    <div class="ingredient-row">
        <fieldset>
            <legend>Ingrediente</legend>

            <label>
                Nome
                <input class="input"
                       type="text"
                       name="ingredientName"
                       placeholder="Es. Farina 00"
                       maxlength="60"
                       autocomplete="off"
                       required/>
            </label>

            <label>
                Quantità (g)
                <input class="input"
                       type="number"
                       name="ingredientQuantity"
                       inputmode="decimal"
                       min="1"
                       step="1"
                       placeholder="100"
                       required/>
            </label>

            <label>
                Prezzo (€/kg)
                <input class="input"
                       type="text"
                       name="ingredientPricePerKg"
                       inputmode="decimal"
                       placeholder="1,60"
                       required/>
            </label>

            <button type="button" class="btn btn--danger btn--sm removeIngredientButton">
                Rimuovi
            </button>
        </fieldset>
    </div>
</template>
